<h2><%= @tune.name %> in <%= @notes.first %></h2>

<%= render './tunes/tune_notes_lyrics', note_lyrics: @tune.notes.zip(@tune.lyrics) %>

<h3>Players</h3>

<%= render './tunes/tune_players', notes: @notes %>
