<ol id="tune-players" class="note-count-<%= Player.notes.size %>">
  <% uniq_notes.each do |n| %>
    <% players = Player.with_note(n).map(&:name).to_sentence %>
    <% next if players.empty? %>
    <li><span class="note-<%= n.player_notes_index %>"><%= n %></span> by <%= players %></li>
  <% end %>
</ol>
