<% notes_uniq = notes.uniq %>
<ol class="note-count-<%= notes_uniq.size %>">
  <% notes_uniq.each_with_index do |n, i| %>
    <% players = Player.with_note(n).map(&:name).to_sentence %>
    <li><span class="note-<%= i %>"><%= n %></span> by <%= players %></li>
  <% end %>
</ol>
