<ol class="note-count-<%= uniq_notes.size %>">
  <% uniq_notes.each_with_index do |n, i| %>
    <% players = Player.with_note(n).map(&:name).to_sentence %>
    <li><span class="note-<%= i %>"><%= n %></span> by <%= players %></li>
  <% end %>
</ol>
