<h1>Tunes</h1>

<% @tunes.sort_by { |t, _t_match_notes| t.name }.each do |t, t_match_notes| %>
  <hr>
  <h2> <%= link_to t.name, t %></h2>
  <% if t_match_notes.versions.present? %>
    <p><b>Got <%=  pluralize t_match_notes.versions.size, 'version' %>!</b></p>
  <% else %>
    <b>Missing notes</b>, best match is <%= ((t_match_notes.best_version.available_mapping.size / t.uniq_notes.size.to_f) * 100).round %>% there!
  <% end %>

<% end %>

<hr>

<%= link_to 'Add new', new_tune_path %>
