// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.players {
  border: solid 1px;
  border-color: lightgray;
  border-collapse: collapse;

  tr {
    border-bottom: solid 1px lightgray;
  }

  td {
    min-width: 200px;
  }
}
