// Place all the styles related to the tunes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2 {
  small {
    font-size: 12px;
  }
}

table.tune {
  border-collapse: collapse;

  td {
    text-align: center;
    padding: 5px;
    min-width: 30px;

    border: {
      top: solid 1px lightgrey;
      bottom: solid 1px lightgrey;
    }

    input {
      width: 30px;
      text-align: center;
    }

    .lyric {
      font-style: italic;
    }

  }

  td:first-child {
    border-left: solid 4px black;
  }

  td:nth-child(4n) {
    border-right: solid 1px black;
  }

}

$base_note_color: lightcoral;

@for $note_count from 1 through 20 {
  .note-count-#{$note_count} {
    @for $note_number from 0 through $note_count - 1 {
      .note-#{$note_number} {
        background-color: adjust-hue($base_note_color, ($note_number / $note_count) * 360)
      }
    }
  }
}
