// Place all the styles related to the tunes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 small {
  font-size: 12px;
}

table.tune {
  border-collapse: collapse;

  td {
    padding: 5px;

    border: {
      top: solid 1px lightgrey;
      bottom: solid 1px lightgrey;
    }
  }

  td:first-child {
      border-left: solid 4px black;
  }

  td:nth-child(4n) {
      border-right: solid 1px black;
  }
}
